html
{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
body
{
    background-color: #333333;
}
.myhtml_header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    z-index: 100;
    border: 2px solid white; 
}

.Myportfolio
{
    flex:1;
    margin-top: 15px;
    margin-left: 10px;
}
.mysections{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 110px;
    right: 25px;
    top: 13px;
    align-items: center;
}
.mysection_btns
{
    
    display: flex;
    height: 50px;
    width: 110px;
    border-radius: 25px;
    border: 0px;
    margin-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.mysection_btns:hover
{
    background-color: red;
    color: white; 
    width: 140px;
    transition-duration: 300ms;  
    cursor: pointer;
}



#mysections_menubtn
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #1f1f1f;
    cursor: pointer;
}

.menubtnimg
{
    height: 20px;
    padding-top: 2px;
}
#closemenu
{
    height: 17px;
    margin-left: 6px;
    margin-top: -1px;
}
#lio
{
    position: absolute;
    top: -6px;
    left:125px;
    color: red;
}

